@{
    ViewBag.Title = "About";
}
<header class="about-page-heading">
    <div class="container-boxed max">
        <div class="page-heading-info ">
            <h1 class="page-title">ICSY Founders</h1>
        </div>
    </div>
</header>

<div class="staff-row row text-center">
    <div class="staff-wrap col-md-4">
        <img class="staff-image img-responsive" src="~/images/patrickfallonstockphoto.jpg" alt="image of Patrick Fallon">
        <div class='description'>
            <div class="staff-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="staff-content">
            <h2 class="staff-title">Patrick Fallon</h2>
        </div>
    </div>
    <div class="staff-wrap col-md-4">
        <img class="staff-image img-responsive" src="~/images/jaruneheadshot.jpg" alt="image of Jarune Crystal Uwujaren">
        <div class='description'>
            <div class="staff-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="staff-content">
            <h2 class="staff-title">Jarune Uwujaren</h2>
        </div>
    </div>
    <div class="staff-wrap col-md-4">
        <img class="staff-image img-responsive" src="~/images/davidjacksonheadshot.jpg" alt="image of David Jackson">
        <div class='description'>
            <div class="staff-media">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
        <div class="staff-content">
            <h2 class="staff-title">David Jackson</h2>
        </div>
    </div>
</div>
<header class="staff-heading">
    <div class="container-boxed max">
        <div class="page-heading-info ">
            <h1 class="page-title">What We Do</h1>
        </div>
    </div>
</header>

<div class="bottom-about-row row">
    <div class="col-md-12">
        <p class="text-about"><strong>Inner City Science for Youth (ICSY)</strong> is a bridge service that connects children ages 6-14 and their familes within Atlanta area science education programs. Membership in ICSY includes:</p>
        <div>
            <ul class="fa-ul text-about">
                <li><i class="fa-li fa fa fa-bug"></i>Free access and transportation to high quality science programs, events, and equipment</li>
                <li><i class="fa-li fa fa fa-bug"></i>Science themed social events, where member families can meet and get to know each other</li>
                <li><i class="fa-li fa fa fa-bug"></i>Mentorship from experienced science educators in various fields</li>
            </ul>
            <br />
            <div class="text-quote text-center"><p><em><i class="fa fa-quote-left fa-border"></i> Science literacy is the artery through which the solutions of tomorrow's problems flow <i class="fa fa-quote-right fa-border"></i> - Neil deGrasse Tyson</em></p></div>
            <br />
        </div>
    </div>
</div>