@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="images/icsymain.jpg" alt="kids exploring with science">
    </div>
</div>
<!-- bottom content row -->
<div class="row bottom">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 membership">
                <div class="membership-bar">
                    <h1 class="membership-text text-large">ICSY Membership</h1>
                    <hr>
                    <p class="membership-text text-small">Do you have or know kids who are interested in learning more about the world but have few outlets for their curiosity? Membership is free and expenses for all programs are covered.</p>
                    <p class="membership-text text-medium">Sign up for ICSY today!</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-join text-uppercase text-center">Join Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <!-- featured content area -->
        <div class="row featured-heading">
            <div class="col-md-12">
                <h3>Kids are born investigators</h3>
            </div>
        </div>
        <div class="featured-right row">
            <div class="col-md-8">
                <p class="featured-text">Children are naturally curious, driven to explore, and constantly asking questions—all qualities of the greatest scientific minds on Earth.</p>
                <p class="featured-text">However, without resources to guide and stimulate their learning, children's natural curiosity can be stamped out and misdirected. This is especially true for children facing the pressures of poverty, discrimination, and violence.</p>
                <p class="featured-text">That's why ICSY was created – to connect kids who face many stressors and distractions with opportunities to learn about science in safe, fun, and engaging ways.</p>
            </div>
            <div class="col-md-4"><img class="img-responsive" src="images/investigate.jpg" alt="early childhood learning"></div>
        </div>
    </div>
</div>
