<div class="row">
    <div class="jumbotron" style="margin-left: 15px; margin-right:15px">
        <p class="jumbotron-text">ICSY is supported by the following people and organizations:</p>
    </div>
    <div class="col-md-8">
        <div class="partner col-md-3" style="padding-left:5px; padding-right:0;">
            <article>
                <div class="membership-includes-wrap">
                    <div class="partner-image">
                        <img width="200" height="100" src="/images/AACLOGO.jpg" class="img-responsive" alt="Atlanta Astronomy Club logo">
                    </div>
                    <div class="partner-content">
                        <h2 class="partner-title">
                            ATLANTA ASTRONOMY CLUB
                        </h2>
                        @*<div class="partner-text">
                            <p style="border-top: 1px solid #a5dfef;">The Atlanta Astronomy Club (AAC) is one of the largest organizations of beginner and amateur astronomers in the South Eastern United States.</p>
                        </div>*@
                    </div>
                </div>
            </article>
        </div>
        <div class="partner col-md-3" style="padding-left:5px; padding-right:0;">
            <article>
                <div class="partner-wrap">
                    <div class="partner-image">
                        <img width="200" height="100" src="/images/fernbanksciencecenter.jpg" class="img-responsive" alt="Fernbank Science Center logo">
                    </div>
                    <div class="partner-content">
                        <h2 class="partner-title">
                            FERNBANK SCIENCE CENTER
                        </h2>
                        @*<div class="partner-text">
                            <p style="border-top: 1px solid #a5dfef;">The Fernbank Science Center is a museum, classroom, and woodland complex located in Atlanta, owned and operated by the DeKalb County School System.</p>
                        </div>*@
                    </div>
                </div>
            </article>
        </div>
        <div class="partner col-md-3" style="padding-left:5px; padding-right:0;">
            <article>
                <div class="partner-wrap">
                    <div class="partner-image">
                        <img width="200" height="100" src="/images/l5pcac_290.jpg" class="img-responsive" alt="Little Five Point Community Center logo">
                    </div>
                    <div class="partner-content">
                        <h2 class="partner-title">
                            LITTLE FIVE POINTS COMMUNITY CENTER
                        </h2>
                        @*<div class="partner-text">
                            <p style="border-top: 1px solid #a5dfef;">The Little 5 Points Community Center (L5PCC) is a non-profit entity composed of partner organizations, community leaders, and neighborhood representatives.</p>
                        </div>*@
                    </div>
                </div>
            </article>
        </div>
        <div class="partner col-md-3" style="padding-left:5px; padding-right:0;">
            <article>
                <div class="partner-wrap">
                    <div class="partner-image">
                        <img width="200" height="100" src="/images/mandisa-thomas.jpg" class="img-responsive" alt="Mandisa Thomas">
                    </div>
                    <div class="partner-content">
                        <h2 class="partner-title last-partner">
                            MANDISA THOMAS
                        </h2>
                        @*<div class="partner-text">
                            <p style="border-top: 1px solid #a5dfef;">Mandisa Thomas is a founder and current President of Black Nonbelievers, Inc. </p>
                        </div>*@
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

