

body {
	font-family: 'Lato', sans-serif;color: #1b1b29;font-weight: 400; 
    background-color: #575555; 
}

/* header */
#header {
	padding: 0;
	background: #fff;
	background: -moz-linear-gradient(top,#fff 0,#f8fafa 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f8fafa));
	background: -webkit-linear-gradient(top,#fff 0,#f8fafa 100%);
	background: -o-linear-gradient(top,#fff 0,#f8fafa 100%);
	background: -ms-linear-gradient(top,#fff 0,#f8fafa 100%);
	background: linear-gradient(top,#fff 0,#f8fafa 100%);
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8fafa');
}
#participate {
  display: inline-block;
  float: right;
  margin-top: 20px;
}
#participate h3 {
  color: #fff;
  font-size: 1.1em;
  letter-spacing: .04em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2em;
  font-family: 'Lato',sans-serif;
  text-transform: uppercase;
}
#participate .signup {
  background-position: 95% center;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#participate .contact {
  background-position: 95% center;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
aside {
	display: block;
}
ul {
	list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#participate ul li {
  display: inline-block;
}
a {
	text-decoration: none;
	outline: 0;
}
a.signup, #participate .signup {
  	background-color: #0c6d87;
}
a.signup, #participate .contact {
  	background-color: #f47821;
}
.header-logo {
	position: relative;
  	float: left;
}
p.title {
  	float: right;
  	padding: 55px 20px 0 20px;
  	font-size: 1.5em;
	color: #202d39;
  	line-height: 1.9em;
  	margin: 0;
  	font-family: 'Lato',sans-serif;
}
p.tag-line {
  	font-size: 1.5em;
  	font-style: italic;
	color: #202d39;
  	line-height: 1.9em;
  	margin-bottom: 0;
  	font-family: 'Lato',sans-serif;
}
div.description{  
    position:absolute; 
    bottom:93px; 
    left:0px;  
    margin-left: 15px;
    width:1%;  
    font-size:15px;  
    color:white;  
    opacity:0.95; 
    filter:alpha(opacity=95);
} 

/* navigation */
.navbar{
	margin: 1px 0 0 0;
	border-radius: 4px 4px 0 0;
}
.navbar-brand {
	font-size: 3.5em;
}
.navbar-inverse {
  background-color: #0c6d87;
  border-color: #0c6982;
}
.navbar-inverse .navbar-nav>li>a {
  color: #f48c43;
}
.navbar-inverse .navbar-brand {
  color: #f48c43;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #095d73;
}
.navbar-right {
  margin-right: 35px;
}
.navbar-right>li>a {
  color: #fff!important;
  font-size: 1.5em;
  padding: 10px 5px;
  margin-top: 5px;
}
.logo {
	height: 100%;
	margin-top: -3px;
	margin-right: 5px;
}

/* Content */
.about-page-heading {
      position: relative;
      padding: 20px 0 10px;
      color: rgb(97, 97, 97);
      background-color: rgb(186, 186, 186);
}
.about-page-heading .page-title {
      font-size: 2.2em;
      margin: 0;
      padding-left:20px;
      font-weight: bold;
}
.staff-heading {
      position: relative;
      padding: 20px 0 10px;
      color: rgb(97, 97, 97);
      background-color: rgb(186, 186, 186);
}
.staff-heading .page-title {
      font-size: 2.2em;
      margin: 0;
      padding-left:20px;
      font-weight: bold;
}
.staff-image {
    height:233px;
}
.bottom {
	background-color: #f2f0ee;
	margin: 10px 1px 0 1px;
}
.btn-join {
	  color: #fff;
	  background-color: #4dbea2;
	  border-color: #39967F;
}
.container-boxed.max {
  max-width: 1200px;
}
.fa-bug {
    color: #0c6d87;
}
hr {
	height: 3px;
	background: #4dbea2;
}
.bottom-about-row {
    margin-left: 0;
    margin-right: 0;
    background-color: #25a0c0;
}
.staff-row {
    margin-left: 0;
    margin-right:0;
    background-color:#d8d7d7;
}
.text-about {
    font-size: 1.4em;
    color: #fff;
    padding-top: 15px;
}
.text-quote {
    color: #6e2e01;
    font-size: 1.5em;
    font-weight: 500;
}
.text-small {
	font-size: 1em;
}
.text-medium a {
  font-size: 1.2em;
}
.text-large {
	font-size: 2.5em;
}
.membership {
	padding: 0 10px 0 0;
}
.membership-bar {
	background-color: #0c6d87;
	padding: 20px 20px 20px 20px;
	text-align: center;
}
.membership-bar h4 {
	margin-top: 0;
}
.membership-text {
	font-weight: 500;
	color: #fff;
}
.slogan {
    font-family: 'Handlee', cursive;
    font-size: 1.2em;
    padding: 5px 0 0 0;
}
.staff {
    padding: 0 1em;
    background: transparent;
    border: none;
    padding-bottom: 2em;
}
.staff-wrap {
      padding-top: 20px;
      padding-bottom: 20px;
}
.staff-featured {
    padding: 0 100px;
}
.staff-content {
    padding: 0;
}
.staff-title {
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 0;
      position: relative;
      text-shadow: 0 1px 0 #ccc, 
         0 2px 0 #c9c9c9,
         0 3px 0 #bbb,
         0 4px 0 #b9b9b9,
         0 5px 0 #aaa,
         0 6px 1px rgba(0,0,0,.1),
         0 0 5px rgba(0,0,0,.1),
         0 1px 3px rgba(0,0,0,.3),
         0 3px 5px rgba(0,0,0,.2),
         0 5px 10px rgba(0,0,0,.25),
         0 10px 10px rgba(0,0,0,.2),
         0 20px 20px rgba(0,0,0,.15);
}
.staff-position {
      font-weight: bold;
      text-align: center;
      font-size: 1em;
}
.staff-media {
      text-align: center;
      margin-top: 2em;
}
.staff-media a {
      font-size: 16px;
      background: #b3e2ee;
      color: #000000;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: inline-block;
      margin: 0 5px 5px;
      text-align: center;
      line-height: 35px;
}
/* featured */
.featured-heading {
	color: #fff;
	background-color: #f47821;
}
.featured-right {
	padding: 10px 0 0 0;
}
.featured-text {
	font-size: 1.1em;
	font-weight: 400;
	color: #565152;
}

/* footer */
.footer {
  background-color: #095d73;
  border-color: #095d73;
  border-radius: 0 0 4px 4px;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  margin: 5px 0 0 1px;
  padding: 5px 0 0 0;
}
.footer-right {
	padding: 0 10px 0 0;
}
/* Contact/Member page */
.jumbotron {
    background-color:#fff;
    border-radius:0 !important;
    margin-bottom:10px;
    padding-left: 30px !important;
    padding-right: 0 !important;
    margin: 0 0 5px 0;
}
.jumbotron-contact {
    background-color: #fff;
    border-radius: 0 !important;
    margin-bottom: 10px;
    padding: 60px 0 60px 0;
    padding-left: 30px !important;
    padding-right: 0 !important;
    margin: 0 0 5px 0;
}
.jumbotron-contact h1 {
    margin: 0 !important;
}
.jumbotron h1 {
      display: block;
      text-decoration: none;
      font-size: 36px;
      font-family: Helvetica, Arial, Sans-Serif;
      margin: 0 0 10px 0;
      text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);  
}
.jumbotron-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    /*padding: 20px;*/
    padding: 20px 0 0 0;
    font-size: 22px;
    color: #000;
}
.member-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    /*padding: 20px;*/
    padding: 20px 0 0 0;
    font-size: 16px;
    color: #000;
}
.contact-row {
    background-color: #25a0c0;
    margin: 0;
}
.form-heading {
    color: #fff;
    text-shadow: 0px 2px 3px #171717;
}
.left-control {
    padding: 0 5px 0 0;
}
.right-control {
    padding: 0 0 0 5px;
}
.membership-right-control {
    padding-right: 0;
}
.form-control {
    color: #fff;
    border: none;
    border-bottom: solid 1px rgba(255,255,255,0.2);
    background: #095d73;
    -webkit-transition: border-color 0.3s;
    transition: border-color 0.3s;
    resize: none;
    outline: medium none;
    padding: 0.6em 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 1.1em;
}
.dropdown {
    padding-top:0;
    padding-bottom:0;
    color: #999189;
}
#Programs > option {
    color: #999189;
}
.science-image {
    padding: 35px 20px 20px 20px;
}
.btn-submit {
    background-color: #ad2608;
    border-radius: 0;
    font-size: 1em;
    text-align: center;
    opacity: 1;
    color: #ffffff;
    right: 20px;
    padding: 0.75em 1.6em;
    margin-bottom: 15px;
    margin-right: 38px;
    text-transform: uppercase
}
.fa-ul {
    padding-left: 0;
    padding-top: 5px;
    margin-left: 0.7em;
    margin-bottom: 2px;
    list-style-type: none;
}
.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.2em;
    text-align: center;
}
.fa-ul > li {
    position: relative;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
}
.fa-check-square {
    color: #f48c43;
}
.panel-body {
    padding: 0;
}
.panel {
    margin-top:15px;
    margin-right: 34px;
}
.left-panel {
    padding: 21px;
    margin-top: 0;
    margin-right: 0;
}
ul {
  color: #202d39;
  line-height: 1.5em;
  font-size: 1.1em;
  margin: 0 0 15px 0;
  font-family: 'Lato',sans-serif;
}
.membership-reason h3 {
    margin: -10px 0 0 0;
    font-size: 0.9em;
    text-transform: none;
    border: 1px solid #dbe4eb;
    background: #fff;
    background: -moz-linear-gradient(top,#fff 0,#f8fafa 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f8fafa));
    background: -webkit-linear-gradient(top,#fff 0,#f8fafa 100%);
    background: -o-linear-gradient(top,#fff 0,#f8fafa 100%);
    background: -ms-linear-gradient(top,#fff 0,#f8fafa 100%);
    background: linear-gradient(top,#fff 0,#f8fafa 100%);
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8fafa');
    padding: 10px;
    letter-spacing: 0.02em;
    font-family: 'Lato',sans-serif;
    color: #0c6d87;
}
.membership-reason p {
    padding: 5px 20px 0 15px;
    margin-top: 10px;
    color: #07404f;
    line-height: 1.4em;
    font-size: 0.7em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.membership-includes-title {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin-top:0;
  margin-bottom: 10px;
  text-transform: none;
  color: #095d73;
}
.membership-includes-image {
  position: relative;
}
.membership-includes-content {
  background: #fff;
  padding: 10px 15px;
  text-align: center;
}
.membership-includes-text {
  color: #878787;
  text-align: center;
  margin-top: 13px;
  color: #07404f;
  line-height: 1.5em;
  font-size: 1.05em;
  margin: 0 0 15px 0;
  font-family: 'Lato',sans-serif; 
}

.partner-title {
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  text-decoration: none;
  margin-top:0;
  margin-bottom:0;
  text-transform: none;
  color: #fff;
}
.partner-image {
  position: relative;
}
.partner-content {
  background: #032a3a;
  padding: 5px 15px;
  text-align: center;
}
.partner-text {
  color: #878787;
  text-align: center;
  margin-top: 13px;
  color: #07404f;
  line-height: 1.5em;
  font-size: 1.05em;
  margin: 0 0 15px 0;
  font-family: 'Lato',sans-serif; 
}
.last-partner {
    margin-left: 20px;
    margin-right: 20px;
}